

.main{
    
    
    display: flex;
    max-width: 100%;
    font-weight: 700;
    color: white;
    font-size: 22px;
    margin-bottom: 50px;
    justify-content: center;
    
    
}

.main a {
    margin-left: 25px;
    margin-right: 25px;
    cursor: pointer;
    
    
}

 @media (max-width: 768px) {
    .main a {
    
    align-items: space-between;
    
    }
}



.main a:hover{
    color: rgb(168, 168, 168)
}

.active2 {
    color: rgb(168, 168, 168)
}